<!DOCTYPE html>

<html lang="en">

<head>

    <title>CRUD Example - Update Customer</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>



{# NavBar #}

<nav class="navbar">

    <a class="navbar-brand" href="/">Customers</a>

    <a href="/create">Add Customer</a>

</nav>


{# Update user form #}

<section>

    <form method="post" action="/update/{{ name }}">

        <div>

            <label for="Name">Name</label>

            <input type="text" class="form-control" id="Name" name="Name" disabled value="{{ name }}">

            <br>

            <small class="form-text text-muted">This is the primary key for the customer. It should not be changed.</small>

        </div>


        <br>


        <div>

            <label for="address">Address</label>

            <input type="email" class="form-control" id="address" name="address" rows="3" value="{{ address }}">

        </div>


        <br>


        <div>

            <label for="address_type">Address Type</label>

            <select class="form-control" id="address_type" name="address_type">

                <option value="personal" {% if address_type == "personal" %}selected{% endif %}>Personal</option>

                <option value="commercial" {% if address_type == "commercial" %}selected{% endif %}>Commercial</option>

            </select>

        </div>


        <br>


        <div>

            <label for="address">Instructions</label>

            <textarea class="form-control" id="instructions" name="instructions" rows="5">{{instructions}}</textarea>

        </div>


        <br>


        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</section>



</body>

</html>